body {
   font-family: $basic;
   font-size: 17px;
   color: $primary;
   background-color: $background;
   overflow-x: hidden;
   &.lock {
      overflow: hidden;
   }
}

.container {
   max-width: 1230px;
   margin: 0 auto;
   padding: 0px 15px;
}