.hero {
   position: relative;
   height: 100vh;
   min-height: 650px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   &::before, &::after {
      content: "";
      position: absolute;
      bottom: 0;
      z-index: -1;
      background-size: cover;
   }
   &::before {
      left: 0;
      width: 608px;
      height: 500px;
      background: url(./../src/img/acent/1.png) no-repeat;
      opacity: .2;
   }

   &::after {
      right: 0;
      width: 120px;
      height: 340px;
      background: url(./../src/img/acent/2.png) no-repeat;
   }

   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__header {
      flex: 0 1 38%;
   }

   &__title {
      font-family: $acent;
      font-size: 81px;
      line-height: 1;
      font-weight: 700;
      margin-bottom: 35px;
   }

   &__text {
      font-family: $basic;
      font-size: 16.7px;
      line-height: 1.2;
      letter-spacing: -0.025em;
      color: $primary;
      margin-bottom: 60px;
   }

   &__btn {
      @extend %button;
      background-color: $primary;
      color: #ffffff;
      &:hover {
         border: 3px solid $primary;
         background-color: #ffffff;
         color: $primary;
      }
   }

   &__img {
      flex: 0 1 auto;
   }
}